.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 2em;
    unicode-bidi: bidi-override;
    text-align: center;
    margin-bottom: 10px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
